services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    environment:
      - NODE_ENV=production
    volumes: 
      - /var/run/docker.sock:/var/run/docker.sock
      - ./backend/nginx/conf.d:/app/nginx/conf.d
    networks:
      - net

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./backend/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./backend/nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - backend
    networks:
      - net

networks:
  net:
    driver: bridge