services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    environment:
      - NODE_ENV=production
    volumes: 
      - /var/run/docker.sock:/var/run/docker.sock
      - nginx-conf:/app/nginx/conf.d
    networks:
      - net

  nginx:
    build: ./backend/nginx
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - nginx-conf:/etc/nginx/conf.d:ro
    depends_on:
      - backend
    networks:
      - net

  frontend:
    build: ./frontend
    container_name: hosti
    ports:
      - "5173:80"
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    networks:
      - net

volumes:
  nginx-conf:
    driver: local

networks:
  net:
    driver: bridge