@import "tailwindcss";

@layer components {
  .btn {
    @apply cursor-pointer px-5 py-2 text-white font-medium;
  }

  .btn-primary {
    @apply cursor-pointer rounded-full px-5 py-2 bg-linear-to-tr from-[#00ff88] to-[#008781] text-white font-medium;
  }

  .btn-secondary {
    @apply cursor-pointer rounded-full px-5 py-2 bg-linear-to-tr from-gray-400 to-gray-200 text-white font-medium;
  }

  .btn-outline {
    @apply cursor-pointer px-5 py-2 rounded-lg border border-[#008781] hover:bg-[#2dd4cf] hover:text-white hover:shadow-[0_0_10px_0px_#008781aa] transition-all duration-700 text-black font-medium lg:rounded-xl;
  }

  .btn-home {
    @apply bg-green-600 text-white hover:bg-green-700;
  }
}

@layer utilities {
  @keyframes spinGradient {
    0% {
      transform: rotate(0deg);
      background-position: 0% 50%;
    }
    100% {
      transform: rotate(360deg);
      background-position: 100% 50%;
    }
  }

  .animate-spinGradient {
    animation: spinGradient 3s infinite linear;
  }
}