@import "tailwindcss";

@layer components {
  .btn {
    @apply cursor-pointer px-5 py-2 text-white font-medium;
  }

  .btn-primary {
    @apply cursor-pointer rounded-full px-5 py-2 bg-linear-to-tr from-[#00968e] to-[#2dd4cf] hover:bg-linear-to-br text-white font-medium transition-colors duration-700 ease-in-out;
  }

  .btn-secondary {
    @apply cursor-pointer rounded-full px-5 py-2 bg-linear-to-tr from-gray-400 to-gray-200 text-white font-medium;
  }

  .btn-outline {
    @apply cursor-pointer px-5 py-2 rounded-lg border border-[#008781] hover:bg-[#2dd4cf] hover:text-white hover:shadow-[0_0_10px_0px_#008781aa] transition-all duration-700 text-black font-medium lg:rounded-xl;
  }

  .btn-home {
    @apply bg-green-600 text-white hover:bg-green-700;
  }
}

@layer utilities {
  @keyframes spinGradient {
    0% {
      transform: rotate(0deg);
      background-position: 0% 50%;
    }
    100% {
      transform: rotate(360deg);
      background-position: 100% 50%;
    }
  }

  .animate-spinGradient {
    animation: spinGradient 3s infinite linear;
  }
}

@layer utilities {
  @keyframes svgStrokeAnim {
    0% {
      stroke-dasharray: 2.42777px, 242.77666px;
      stroke-dashoffset: 0;
    }
    12.5% {
      stroke-dasharray: 33.98873px, 242.77666px;
      stroke-dashoffset: -26.70543px;
    }
    43.75% {
      stroke-dasharray: 84.97183px, 242.77666px;
      stroke-dashoffset: -84.97183px;
    }
    100% {
      stroke-dasharray: 2.42777px, 242.77666px;
      stroke-dashoffset: -240.34889px;
    }
  }

  .animate-svg-stroke {
    animation: svgStrokeAnim 1.6s linear infinite;
  }
}
